/* .TodoCreateButton{
  position: fixed;
  right: 54px;
  bottom: 12px;
  background-image: url('./ButtonOpenModal.png');
  width: 64px;
  height: 64px;   
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: transform 0.5s ease;
  z-index: 1;

}     

.TodoCreateButton:hover{
  cursor: pointer;
  transform: rotate(226deg);

} */

.TodoCreateButton{
  position: fixed;
  display: block;
  width: 64px;
  height: 64px; 
  right: 25px;
  bottom: 29px;
  transition: transform 0.5s ease;
  z-index: 1;
  fill: #61dafa;
  
}     

.TodoCreateButton:hover{
  cursor: pointer;
  transform: rotate(226deg);


}