.Icon{
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.Icon-container-check{
  place-self: center;
}



.Icon-container-check:hover{
  cursor: pointer;
}

.Icon-container-delete{
  position: absolute;
  right: 0;
  top: -12px;

}

.Icon-container-delete:hover{
  cursor: pointer;

}

.Icon-container-delete:hover .Icon-svg{
  fill: red;
}
/* .Icon-container-check:hover .Icon-svg{
  fill: #01be01;
  
} */


